<% layout('/layouts/default.html', {title: '车辆管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('车辆管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('ws:wsVmsBVehicle:edit')){ %>
					<a href="${ctx}/ws/wsVmsBVehicle/form" class="btn btn-default btnTool" title="${text('新增车辆')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${wsVmsBVehicle}" action="${ctx}/ws/wsVmsBVehicle/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('车牌号')}：</label>
					<div class="control-inline">
						<#form:input path="licensePlate" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('车辆类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="vehicleType" dictType="vehicle_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('车队名称')}：</label>
					<div class="control-inline width-120" >
						<#form:input path="fleet.fleetName"  class="form-control width-250"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("车牌号")}', name:'licensePlate', index:'a.license_plate', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/ws/wsVmsBVehicle/form?id='+row.id+'" class="btnList" data-title="${text("编辑车辆")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("车牌颜色")}', name:'licenseColor', index:'a.license_color', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('license_color')}, val, '${text("")}', true);
		}},
		{header:'${text("车辆类型")}', name:'vehicleType', index:'a.vehicle_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('vehicle_type')}, val, '${text("")}', true);
		}},
		{header:'${text("挂车车牌号")}', name:'trailer', index:'a.trailer', width:150, align:"left"},
		{header:'${text("车队名称")}', name:'fleet.fleetName', index:'a.fleet_id', width:150, align:"center"},
		{header:'${text("详情")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:150, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('ws:wsVmsBVehicle:edit')){ %>
				actions.push('<a href="${ctx}/ws/wsVmsBVehicle/form?id='+row.id+'" class="btnList" title="${text("编辑车辆")}">编辑</a>&nbsp;');
				actions.push('<a href="${ctx}/ws/wsVmsBVehicle/delete?id='+row.id+'" class="btnList" title="${text("删除车辆")}" data-confirm="${text("确认要删除该车辆吗？")}">删除</a>&nbsp;');
                // actions.push('<a href="${ctx}/ws/wsVmsBMileage/form?vehicleId='+row.id+'&vehicle.licensePlate='+row.licensePlate+'" class="btnList" title="${text("记录里程")}">记录里程</a>&nbsp;');
                actions.push('<a href="javascript:" class="btnMore" title="${text("更多操作")}"><i class="fa fa-chevron-circle-right"></i></a>&nbsp;');
                actions.push('<div class="moreItems">');
                	actions.push('<a href="${ctx}/ws/wsVmsRVehicleDevice/form?vehicleId='+row.id+'&vehicle.licensePlate='+row.licensePlate+'" class="btn btnList" title="${text("绑定设备")}">绑定设备</a>&nbsp;');
               	 	actions.push('<a href="${ctx}/ws/wsVmsRVehicleDevice/list?vehicle.licensePlate='+row.licensePlate+'" class="btn btnList" title="${text("查看设备")}">查看设备</a>&nbsp;');
                	actions.push('<a href="${ctx}/ws/wsVmsRVehicleDrives/form?vehicleId='+row.id+'&vehicle.licensePlate='+row.licensePlate+'" class="btn btnList" title="${text("绑定司机")}">绑定司机</a>&nbsp;');
                	actions.push('<a href="${ctx}/ws/wsVmsRVehicleDrives/list?vehicle.licensePlate='+row.licensePlate+'" class="btn btnList" title="${text("查看司机")}">查看司机</a>&nbsp;');
                actions.push('</div>');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>